<a href="https://colab.research.google.com/github/170830pushpa/python_training/blob/main/Assignment_V_Dictionary_pushpa_7thsem_cs170830.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

        ***Assignment-V***

1) Students = [‘jack’,’jill’,’david’,’silva’,’ronaldo’]
Marks = [‘55’,’56’,’57’,’66’,’76’]
Make a dictionary using lists above and delete the key-value (students:marks) pairs with lowest marks

In [8]:
Students = ['jack','jill','david','silva','ronaldo']
Marks = ['55','56','57','66','76']
stu_marks={}
i=0
while i<len(Students):
  stu_marks[Students[i]]=int(Marks[i])
  i+=1
lowest_marks=min(stu_marks,key=stu_marks.get)
del stu_marks[lowest_marks]
print(stu_marks)

{'jill': 56, 'david': 57, 'silva': 66, 'ronaldo': 76}

2) Euro = {‘France’:5,’Germany’:2,’Portugal’:3,’Hungary’:6}
Make two lists from above dictionary

In [2]:
Euro={'France':5, 'Germany':2, 'Portugal':3, 'Hungary':6}
Country_name=list(Euro.keys())
points=list(Euro.values())
print(Country_name)
print(points)

['France', 'Germany', 'Portugal', 'Hungary']
[5, 2, 3, 6]

3) users = {'g91':{'name':'Aron','age':55,'poison':'Old monk'},
        'twir56':{'name':'Visakha','age':26,'poison':'coca cola'},
        'jsdl8':{'name':'Saudi','age':12,'poison':'hinwa'}}
Generate a list of usernames, name, age and poison from the above dictionary.

In [3]:
users = {'g91':{'name':'Aron','age':55,'poison':'Old monk'}, 'twir56':{'name':'Visakha','age':26,'poison':'coca cola'}, 'jsdl8':{'name':'Saudi','age':12,'poison':'hinwa'}}
usernames=list(users.keys())
name=[]
age=[]
poison=[]
i=0
while i<len(users):
  name.append(users[usernames[i]]['name'])
  age.append(users[usernames[i]]['age'])
  poison.append(users[usernames[i]]['poison'])
  i+=1
print(usernames)
print(name)
print(age)
print(poison)

['g91', 'twir56', 'jsdl8']
['Aron', 'Visakha', 'Saudi']
[55, 26, 12]
['Old monk', 'coca cola', 'hinwa']

4) Take the above list and put it in order.

In [4]:
usernames.sort()
name.sort()
age.sort()
poison.sort()
print(usernames)
print(name)
print(age)
print(poison)

['g91', 'jsdl8', 'twir56']
['Aron', 'Saudi', 'Visakha']
[12, 26, 55]
['Old monk', 'coca cola', 'hinwa']

5) Create an empty dictionary called milk_carton. Add the following key/value pairs.You can make up the values or use a real milk carton.
Expiration_date: a tuple with day, month, year
Vol: volume of milk 
Cost: cost of milk
Brand_name

In [5]:
milk_cartoon={}
milk_cartoon['Expiration_date']=(5,'November',2022)
milk_cartoon['Vol']='25ml'
milk_cartoon['Cost']=3000
milk_cartoon['Brand_name']='ABC'
print(milk_cartoon)

{'Expiration_date': (5, 'November', 2022), 'Vol': '25ml', 'Cost': 3000, 'Brand_name': 'ABC'}

6) Print out the values of all of the elements of the milk_carton using the values in the dictionary.

In [6]:
print(milk_cartoon.values())

dict_values([(5, 'November', 2022), '25ml', 3000, 'ABC'])

7) Show how to calculate the cost of six cartons of milk based on the cost of the milk_carton.

In [7]:
cartons_number=6
total_cost=cartons_number*milk_cartoon['Cost']
print("Cost of 6 cartons of milk based on cost of the milk_carton is Rs.",total_cost)

Cost of 6 cartons of milk based on cost of the milk_carton is Rs. 18000