<a href="https://colab.research.google.com/github/170830pushpa/python_training/blob/main/Assignment_2_pushpalama_csit_7thsem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

                       ** Assignment 2:Tuples**

1) Python program to conver tuple into list.

In [79]:
a=("Nepal","India","China",1,2,3) #tuple
print(type(a))
print(a)
print("===========================================")
lst=list(a) #tuple to list
print(type(lst))
print(lst)

<class 'tuple'>
('Nepal', 'India', 'China', 1, 2, 3)
===========================================
<class 'list'>
['Nepal', 'India', 'China', 1, 2, 3]

2) Write a program to calculate direction and magnitude of the vector described by the following points.
A = (20,30)
B = (30,40)

In [62]:
import math
# A(x1,y1)--->A(20,30)  B(x2,y2)---->B(30,40)
# ab(x1,x2,y1,y2)--->ab=(20,30,30,40)--tuple
ab=(20,30,30,40)
def magnitude(ab):
  return math.sqrt(((ab[1]-ab[0])*(ab[1]-ab[0]))+((ab[3]-ab[2])*(ab[3]-ab[2])))
def direction(ab):
  t=math.atan( (ab[3]-ab[2])/(ab[1]-ab[0]))
  return math.degrees(t)
print("A=(20,30)  B=(30,40)")
print("----------------------")
print("Magnitude of vector= ",format(magnitude(ab),".3f"))
print(" Direction of a vector=",format(direction(ab),".3f"),"degrees")

A=(20,30)  B=(30,40)
----------------------
Magnitude of vector=  14.142
 Direction of a vector= 45.000 degrees

3) Write a program to demonstrate data types that can be elements of a tuple.

In [80]:
a=(1,True,"Nepal",3.5,5j,("Nepal","India"),[2,2,3,4],{'Firstname':'Pushpa','Lastname':'Lama'},range(6),{1,2,3},b"pushpa",bytearray(1),memoryview(bytes(4))) #tuple with differet data types elements.
print("Datatyes in tuple:  ")
for i in a:
  print("=================")
  print(type(i))
  print(i)
print("=====================================================================")

Datatyes in tuple:
=================
<class 'int'>
1
=================
<class 'bool'>
True
=================
<class 'str'>
Nepal
=================
<class 'float'>
3.5
=================
<class 'complex'>
5j
=================
<class 'tuple'>
('Nepal', 'India')
=================
<class 'list'>
[2, 2, 3, 4]
=================
<class 'dict'>
{'Firstname': 'Pushpa', 'Lastname': 'Lama'}
=================
<class 'range'>
range(0, 6)
=================
<class 'set'>
{1, 2, 3}
=================
<class 'bytes'>
b'pushpa'
=================
<class 'bytearray'>
bytearray(b'\x00')
=================
<class 'memoryview'>
<memory at 0x7fde6a3d0940>
=====================================================================