<a href="https://colab.research.google.com/github/170830pushpa/python_training/blob/main/Pythontraining_Assignment3_list_pushpalama170830.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Make a list of ten students in your class. Print the name of each student whose name starts with ‘B’.

In [1]:
studentname_list=['Sahil Ramjhali','Saken Rai','Arogya Thapa Magar','Sijan Aacharya',
                  'Sujan Bohora','Binay Stha','Bijay Shahi','Biki Rana','Pushpa Lama','Binita Lama']
for studentname in studentname_list:
  if studentname[0]=='B':
    print(studentname)

Binay Stha
Bijay Shahi
Biki Rana
Binita Lama

2) Make a list of ten students in your class. Print the name of each student whose name ends with ‘a’.

In [2]:
studentname_list=['Sahil Ramjhali','Saken Rai','Arogya Thapa Magar','Sijan Aacharya',
                  'Sujan Bohora','Binay Stha','Bijay Shahi','Biki Rana','Pushpa Lama','Binita Lama']
for studentname in studentname_list:
  if studentname.endswith('a'):
    print(studentname)

Sijan Aacharya
Sujan Bohora
Binay Stha
Biki Rana
Pushpa Lama
Binita Lama

3) Print all the unique elements in the following list 
fifa = ['Italy','Argentina','Germany','Brazil','France','Brazil','Italy','Spain','Germany','France']

In [3]:
fifa = ['Italy','Argentina','Germany','Brazil','France','Brazil','Italy','Spain','Germany','France']
unique_fifa=[]
for i in fifa:
  if i in unique_fifa:
    continue
  else:
    unique_fifa.append(i)
print(unique_fifa)

['Italy', 'Argentina', 'Germany', 'Brazil', 'France', 'Spain']

4) Change the first alphabet of all elements of the following list to capital.
Bob = [‘hurricane’,’tambourine’,’blowing’,’numb’]
A = [‘a’,’b’,’c’,’d’] B = [‘1’,’a’,’2’,’b’]

In [4]:
Bob=['hurricane','tambourine','blowing','numb'] 
print("Capitalizing 'Bob list':\n==============================")
for i in Bob:
  print(i.title())

Capitalizing 'Bob list':
==============================
Hurricane
Tambourine
Blowing
Numb

5) A = [‘a’,’b’,’c’,’d’] B = [‘1’,’a’,’2’,’b’]
Find  A n B and A u B

In [5]:
A = ['a','b','c','d'] 
B = ['1','a','2','b']
AuB=A
AnB=[]
for i in B:
  if i in A:
    AnB.append(i)
  else:
    AuB.append(i)
print("=======================================\nAuB:  ",AuB,
      "\n======================================\nAnB:  ",AnB)

=======================================
AuB:   ['a', 'b', 'c', 'd', '1', '2']
======================================
AnB:   ['a', 'b']

6) Find  and  Calculate the mean and standard deviation of the following list:
Numbers = [1,2,3,5,88,99,55,33,41,52]

In [6]:
import statistics
Numbers = [1,2,3,5,88,99,55,33,41,52]
x_bar=statistics.mean(Numbers)
sd=statistics.stdev(Numbers)
print("Mean and standard deviation of list Numbers = [1,2,3,5,88,99,55,33,41,52] are ",
      x_bar," and ",format(sd,".3f")," respectively.")

Mean and standard deviation of list Numbers = [1,2,3,5,88,99,55,33,41,52] are  37.9  and  36.085  respectively.